body {
    margin: 2%;
}

div#out_1,
div#out_2 {
    display: flex;
    flex-direction: row;
    width: 90%;
}

div#in_1,
div#in_2,
div#in_3,
div#in_4,
div#in_5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

div#in_5 {
    display:none;
}

#family {
    width: 100%;
}

a {
    text-decoration: none;
    color: none !important;
}

a:hover {
    text-decoration: none;
    color: none !important;
}

#botao_wp {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    background-color: #9d5a4d;
    padding: 10px 60px 10px 60px;
    color: white !important;
    border-radius: 30px;
    margin-bottom: 20px;
}

#botao_wp a {
    color: white;
}

#call_to_action {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding: 10px 60px 10px 60px;
    border-radius: 30px;
    margin-bottom: 20px;
}

#bold_span {
    font-weight: 700;
}

#texto-insta {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #685a4e;
    background-color: ;
}

div#in_4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #685a4e;
    margin-top: 10px;
}

#logo-div {
    text-align: center;
}

@media screen and (max-width: 833px) {
    div#out_1,
    div#out_2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div#in_3 {
        display:none;
    }

    div#in_5 {
        display: inline;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    
}